.selectContainer {
    position: relative;
    display: inline-block;
}

.select {
    appearance: none;
    width: 100%;
    padding: 7px 18px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    transition: border-color 0.3s, box-shadow 0.3s;
    cursor: pointer;
}

.select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

.selectContainer::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ccc;
    transform: translateY(-50%);
}